<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">Puzzles Yay!</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/">Welcome Page</a></li>
      <li><a href="#/login">Log In Page</a></li>
      <li><a href="#/createaccount">Create Account Page</a></li>
      <li><a href="#/createpuzzle">Create Puzzle Page</a></li>
      <li><a href="#/puzzles">Show Puzzles Page</a></li>
      <li><a href="#/profile">Profile Page</a></li>
      <li><a href="#/game">Game Page</a></li>
    </ul>
  </section>
</nav>

<section class="container" ui-view></section>