<h2>Welcome &amp; Instructions Page</h2>

<div>

  <p>
    Puzzle Master helps Puzzle Makers turn their photos into personalized sliding puzzles they can publish to the web and share with their friends.
  </p>

  <p>
    Puzzle Master allows Puzzle Solvers to view available puzzles and choose the puzzle they wish to solve by dragging and dropping the pieces to the appropriate location.  Once the puzzle has been completed, it is submitted for verification and the amount of time it took to solve the puzzle is recorded.
  </p>

  <p>
    Puzzle Solvers can check out our leaderboard to see the fastest solvers listed by their Twitter handles, so they can compare their own speed and brag when they become the champion.
  </p>

  <p>
    Create an account below and begin creating and solving puzzles today!
  </p>

  <a href="#/login"><button>Login</button></a> <a href="#/puzzles"><button>Choose a Puzzle</button></a>

</div>